@{
    Layout = "~/Views/_Layout.cshtml";
}
<a href="@Url.Action("DateShow", "Home")">日期选择器</a><hr />
<a href="@Url.Action("KindEditor", "Home")">富文本编辑器</a><hr />
<a href="@Url.Action("ImageUpload","Home")">图片上传</a><hr />
