@{
    Layout = "~/Views/_Layout.cshtml";
}
<h1>富文本编辑器</h1>
<textarea id="txtcontent" name="txtcontent"></textarea>
<textarea id="txtcontent2" name="content"></textarea>
<textarea id="txtcontent3" name="content2"></textarea>
<input type="button" value="保存" onclick="save()" />

<span id='content'></span>
<script>
    //需在指定的一般处理程序中进行文件的保存,主要设置以下文件的保存路径即可
    //第一个参数是标签的name属性,而非id属性,后面两个参数是处理文件上传的一般处理程序的路径
    $.AddKindEditor(['txtcontent','content','content2'], "../Ashx/Upload.ashx", "../Ashx/UploadManage.ashx");
    function save() {
        var content = $('#txtcontent').val().replace(/\"/g, "\'").replace("\n", "");
        $('#content').html(content);
    }
</script>