@{
    Layout = "~/Views/_Layout.cshtml";
}
<div id="upload">
    <img id="logo" style="width:350px;height:228px;" /><br />
    <span class="state"></span>
    <div class="picker">选择文件</div>
</div>
<div id="upload2">
    <img id="site" style="width:350px;height:228px;" /><br />
    <span class="state"></span>
    <div class="picker">选择文件</div>
</div>
<div id="upload3">
    <img id="show" style="width:350px;height:228px;" /><br />
    <span class="state"></span>
    <div class="picker">选择文件</div>
</div>
<input type="button" value="提交" onclick="sub()" />
<script>
    $.AddImageUpload(['#upload', '#upload2', '#upload3'], '../Ashx/fileupload.ashx', '../JS/ImageUpload/Uploader.swf');

    function sub() {
        //获取显示图片的data-target属性即为上传文件的文件名,在添加图片的时候切记要加上文件夹目录.
        alert($('#logo').attr('data-target'));
    }
</script>